.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.main-title {
    position: relative;
    width: max-content;
    font-size: 40px;
}

.main-title::before,
.main-title::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.main-title::before {
    background: var(--bg-color);
    animation:
        typewriter var(--typewriterSpeed) steps(19) 1s forwards;
}

.main-title::after {
    width: 0.2em;
    background: white;
    animation:
        typewriter var(--typewriterSpeed) steps(19) 1s forwards,
        blink 1s steps(19) infinite;
}

.main-subtitles {
    display: flex;
    p {
        margin: 0 1rem 0 1rem;
        font-size: 16px;
    }
    .left-subtitle {
        opacity: 0;
        transform: translateX(-2rem);
        animation: fadein 1.5s ease calc(var(--typewriterSpeed) + 1.2s) forwards;
    }
    .right-subtitle {
        opacity: 0;
        transform: translateX(2rem);
        animation: fadein 1.5s ease calc(var(--typewriterSpeed) + 1.8s) forwards;
    }

}

.main-blurb {
    width: 60%;
    margin: 1rem;
    font-size: 15px;

    .blurb {
        opacity: 0;
        transform: translateY(1rem);
        animation: fadeup 2s ease calc(var(--typewriterSpeed) + 2.4s) forwards;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadein {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeup {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}