#root {
  max-width: 1920px;
  max-height: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
:root {
  --bg-color: black;
  --typewriterSpeed: 3s;
}

body {
  background: var(--bg-color);
  color: white;
  font-family: monospace;
}

